@media screen and (max-width:900px){
   
    header nav ul li{
        margin: 20px;
    }

}











@media screen and (max-width:700px){
    header {
      position:fixed;
      top: 0;
      right: 0;
      width:250px;
      height: 100vh;
      z-index:999;
      background-color: rgba(181, 90, 57, 0.521);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0, 0.1);
      display:none ;
      flex-direction: column;
      justify-content: flex-start;
      
     
  
    }

    .mobile{
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        
    }

    .mobile .menu{
        cursor: pointer;
    }

    

    header .logo{
        display: none;
    }

    header .menu1{
        display:block;
        margin-top: 20px;
        cursor: pointer;
    }


    header nav ul{
        display:flex;
        flex-direction: column;
        margin-top: 10px;
    }


    header nav ul li a{
       display: flex;
       font-size: small;

    }
    
    
    header ul li  .active{
       
        padding:10px;
        border-radius:10px ;
        
    
    }
    
    

 




    
}